/* navbar */ /* make responsive*/

nav {
  text-align: left;
  text-decoration: none;
  font-size: larger;
  font-weight: bolder;
  font-family: poppins, sans-serif;
  font-weight: 300;
  font-style: normal;

  padding-left: 320px;
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 15px;
}

nav li a.studionaam {
font-family: poppins, sans-serif;
font-weight: 700;
font-style: normal;
font-size: xx-large;
}

/* Put in NL and ENG language buttons */

ul {
  position: -webkit-sticky; /* werkt nog niet !!!!!!!!!!*/
  position: sticky;
  top: 0;
}

li {
  display: inline; 
}


a {
  color: black;
  margin-right: 2rem;
  margin-left: 2rem;
}

li a:hover {

  color: rgb(255, 174, 173);
  text-decoration: none;
}

li a:active {

  color: rgb(0, 4, 255);
  text-decoration: none;
}

/* dropdown */

li a, .dropbtn {
  display: inline-block;
  text-align: left;
  padding: 8px;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content { /* box styling */
  display: none;
  position: absolute;
  background-color:white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding-left: auto;
  padding-right: auto;
  display: block;

  text-decoration: none;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

/* section */ /* make responsive*/

div p.introduction {
  text-align: center;
  font-size: medium;
  font-weight: bolder;
  font-family: poppins, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: black;

  padding: 80px;
  padding-bottom: 50px;
  text-align: center !important;
}

h4 {
text-align: center;
font-size: large;
font-weight: bolder;
font-family: poppins, sans-serif;
font-weight: 700;
font-style: normal;
color: black;
}

hr {
color: teal;
border-style: solid;
border-width: 1px;
margin-left: 60px;
margin-right: 60px;
}

/* About */ 

div.about{
  box-sizing: border-box;

  text-align: center;
  font-size: medium;
  font-weight: bolder;
  font-family: poppins, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: black;

  padding-right: 900px;
  padding-left: 900px;
  padding-top: 80px;
  padding-bottom: 20px;
}

/* contact */ 

div.contact{
  box-sizing: border-box;

  text-align: center;
  font-size: medium;
  font-weight: bolder;
  font-family: poppins, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: black;

  padding-right: 410px;
  padding-left: 410px;
  padding-top: 20px;
  padding-bottom: 100px;
}

/* footer */ 

footer {

  text-align: center;
  text-decoration: none;
  font-size: smaller;
  font-weight: bolder;
  font-family: poppins, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: black;

  padding-left: 15px;
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;

  background-color: white;

  box-shadow:  5px 5px 10px #d1d1d1, -5px -5px 10px #d8d8d8;
}