/* navbar */

nav {
  display: inline;
  font: normal normal normal 35px/42px Rollgates Fabulous;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

nav li a.studionaam {
  text-align: left;
  display: inline;
  align-self: left;
  font: normal normal normal 45px/54px Rollgates Fabulous;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

ul {
  position: sticky;
  top: 0;
}

li {
  display: inline;
  text-align: right;
}


a {
  color: black;
  margin-right: 2rem;
  margin-left: 2rem;
}

li a:hover {

  color: rgb(0, 4, 255);
  text-decoration: none;
}

li a:active {

  color: rgb(0, 3, 205);
  text-decoration: none;
}

/* dropdown */

li a,
.dropbtn {
  display: inline-block;
  padding: 1px;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  /* box styling */
  display: none;
  position: absolute;
  background-color:none;

  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding-left: auto;
  padding-right: auto;
  display: block;

  font: Rollgates Fabulous !important;
  font-size: 20px !important;;

  text-decoration: none;
  text-align: right;
  align-items: right;
  align-self: right !important;
}

.dropdown-content a:hover {
  background-color: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* intro container */

.containerintro {
  background-color: #CE666F;
  justify-content: center !important;
  align-content: center !important;
  align-self: center;
  align-items: center;
}

.text {
width: 1076px;
height: 192px;
line-height: 18px;
justify-content: center !important;
align-content: center !important;
align-self: center;
align-items: center;
}

/*titel*/
h1 {
  font-family: Rollgates Fabulous;
  font-size: 50px;
  letter-spacing: 0px;
  color: black;
  opacity: 1;

  text-align: center;
  font-style: normal;
}

/* section */ /* make responsive*/

div p.introduction {
  text-align: center;
  font-size: medium;
  font-weight: bolder;
  font-family: poppins, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: black;

  padding: 80px;
  padding-bottom: 50px;
  text-align: center !important;
  width: 50%;
}

h4 {
text-align: center;
font-size: large;
font-weight: bolder;
font-family: poppins, sans-serif;
font-weight: 700;
font-style: normal;
color: black;
}

/* About */ 

div.about{
  box-sizing: border-box;

  text-align: center;
  font-size: medium;
  font-weight: bolder;
  font-family: poppins, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: black;

  padding-right: 410px;
  padding-left: 410px;
  padding-top: 100px;
  padding-bottom: 20px;
}

/*
  box-sizing: border-box;
  text-align: center;
  padding-right: 410px;
  padding-left: 410px;
  padding-top: 100px;
  padding-bottom: 20px;
*/ 

/* contact */ 

div.contact{
  box-sizing: border-box;

  text-align: center;
  font-size: medium;
  font-weight: bolder;
  font-family: poppins, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: black;

  padding-right: 410px;
  padding-left: 410px;
  padding-top: 20px;
  padding-bottom: 100px;
}

/* footer */ 

footer {

  text-align: center;
  text-decoration: none;
  font-size: smaller;
  font-weight: bolder;
  font-family: poppins, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: black;

  padding-left: 15px;
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;

  background-color: white;

  box-shadow:  5px 5px 10px #d1d1d1, -5px -5px 10px #d8d8d8;
}