div {
    border: 1px solid !important;
    padding: 2rem !important;
    background-color: azure !important;
}

ul {
    display: inline-flex !important;
    list-style: none !important;
    margin-right: 1rem !important;
}

ul#navbar li   {
    margin-right: 2px;
}

ul#navbar li:hover {
    background-color: yellow !important;
    margin-right: 3rem !important;
    padding: 10px !important;
}

h1 {
display: inline-flex;
}