div {
    background-color: orange;
    width: 500px;
    height: 520px;
    padding: 10px;
    margin: 0 auto;
    }

div p {
    padding: 10px;
    background-color: whitesmoke;

    }

p#test {
    width: 29%;
    height: 114px;
    overflow: scroll;
    border-style: dotted;
    border-color: blue;
    }

p#test2 {
    width: 29%;
    height: 55px;
    overflow: scroll;
    border-style: dotted;
    border-color: blue;
    border-image: url(https://img3.goodfon.com/wallpaper/nbig/5/ba/linii-polosy-cveta.jpg)11 11 round;
    border-width: 10px;
    -webkit-box-shadow: 8px 7px 23px 3px rgba(0,0,0,0.52); 
    box-shadow: 8px 7px 23px 3px rgba(0,0,0,0.52);
    }

h2 {

    border-left-style: solid;
    border-color: red;
    border-width: 5px;
    }

