header {
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 2rem;

    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;

    background-color:  #3ebeb3;
}

nav {

    text-align: center;
    background-color: rgb(121, 120, 120);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;

    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;

    background: linear-gradient(145deg, #b6b6b6, #ffffff);
    box-shadow:  10px 10px 20px #d1d1d1, -10px -10px 20px #d8d8d8;
}

ul {

    display: inline-flex;
    list-style: none;
}

li a{

    margin-right: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 700;
}

ul :hover {
    color: pink
    font-family: Arial, Helvetica, sans-serif;
}

section {

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(236, 234, 234);
    background-color: rgb(148, 148, 148);

    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;

    background: #787878;
    box-shadow: inset 32px 32px 65px #666666, 
                inset -32px -32px 65px #8a8a8a;
}

aside {

    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  10px 10px 20px #d1d1d1, -10px -10px 20px #ffffff;
    border-radius: 22px;
    border-style: none;

    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: black;

    height: 380px;
    width: 30%;

    padding-left: 15px;
    padding-top: 40px;
    padding-right: 15px;

    margin-left: 15px;
    margin-top: 60px;

    float: right;
    overflow: scroll;
}

fieldset {

    border-style: none;
     
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
     text-align: center;

}

legend {

    padding-right: 4px;
    padding-left: 4px;
}

article {

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    color: white;

    background-color: rgb(47, 47, 47);
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

button {

    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  10px 10px 20px #d1d1d1, -10px -10px 20px #ffffff;

    border-radius: 22px;
    border-style: none;

    width: 100px;
    height: 80px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: black;
    margin-left: inherit;
}


/* Tutorial article 11 */

#textbodyandhiding {
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 10px 10px 20px #d1d1d1, -10px -10px 20px #ffffff;
    border-radius: 20px;
    border-style: none;

    height: 605px;
    width: 900px;

    font-size: medium;

    }

#textbodyandhiding p {

    width: 30rem;
    height: 5rem;
    padding: 10px;
    overflow: scroll;

    margin-right: 130px;
    margin-left: 130px;

    border-radius: 20px;

    background: #ffffff;
    box-shadow: inset 41px 41px 82px #c9c9c9, 
                inset -41px -41px 82px #ffffff;
}

#textbodyandhiding p#test {

    width: 29%;
    height: 114px;
    overflow: scroll;

    border-radius: 20px !important;
    border-style: dotted;
    border-color: blue;

    box-shadow: inset 41px 41px 82px #c9c9c9, 
                inset -41px -41px 82px #ffffff;
}

#textbodyandhiding p#test2 {

    width: 29%;
    height: 55px;

    overflow: scroll;
    border-style: dotted;
    border-color: blue;

    border-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRtcVp8V3zk-rzdAiJDURcnnoN8uJkpLq9ZBg&usqp=CAU)11 11 round;
    border-radius: 20px !important;
    border-style: none;
    border-width: 10px;

    -webkit-box-shadow: 8px 7px 23px 3px rgba(0,0,0,0.52); 
    box-shadow: 8px 7px 23px 3px rgba(0,0,0,0.52);
}

/* Tutorial article 12 */

#threecolomn {

    column-count: 3;
    column-rule-style: hidden;
    column ;
}

/* Tutorial article 13 */

div#tutorial13 img {
    width: 50%;
}

@media screen and (min-width:950px) {
   div#tutorial13 img {
       width: 100%;
   }
}

/* Tutorial article 14 */

/* WEB/DESKTOP VERSION */
body {
    margin:0;
    top:0;
    padding:0;
}

.box {
 display: flex;
}

.child {

    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  10px 10px 20px #d1d1d1, -10px -10px 20px #ffffff;
    border-radius: 15px;
    border-style: none;


    text-align: center;

    padding: 10px;
    margin: 1px;
    width: 100%;

}


/* MOBILE VERSION */
@media only screen and (max-width:768px) {
    
    body {
        margin:0;
        top:0;
        padding:0;
    }
    .mobile{
        display: block;
        width: 100%;
        padding:0;
        margin:0;
    }
    .child {
        
        margin:0;
    }
}